################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/WinForms/v16/Server/sqlite3
/WinForms/bin/Debug
/WinForms/obj/Debug
/WinForms.DB/WinForms.DB.sqlproj.user
